html {
	background: rgb (53,148,77);
	background: linear-gradient(180deg,
	rgba(255, 255, 255, 0.9) 40%, 
	rgba(53,148,77,0.9) 90%);
}
body { 
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-align: left;
	overflow-x: hidden;
}
/*/Tool Section/*/
img {
	margin: 0px!important;
	padding: 0px!important;
}
.anchor {
	margin: 0px!important;
	padding: 0px!important;
}
.home-anchor {
	margin: 0px!important;
	padding: 0px!important;
}
.extendfull, .extendleft
{
	padding-left: 3000px;
	margin-left: -3000px;
}

.extendfull, .extendright
{
	padding-right: 3000px;
	margin-right: -3000px;
}
/*/ Float Fix /*/
.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {

	zoom: 1;
}
/*/ End Float Fix /*/
/*/ Hover Grow /*/
.hvr-grow {
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.45s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    background-color: #4CAF50;
}
/*/ End Hover Grow /*/
/*/ End Tools /*/
/*/ Desktop Menu /*/
@media all and (min-width: 960px) {
/*/ Begin Nav Style /*/
a {
	color: black;
	text-decoration: none;
}
ul.nav-area {
	padding-inline-start: 5px;
	padding-inline-end: 5px;
	margin-top: 0px!important;
	margin-bottom: 0px!important;
}
nav {
	z-index: 9;
	position: -webkit-sticky; /*/ Fixed Safari /*/
	position: sticky;
    top: 0;
    left: 0;
	width: auto;
	font-size: 20px;
	background: rgb (53,148,77);
	background: linear-gradient(180deg, #4CAF50 -210%, 
	rgba(255,255,255,0.9) 200%);
}
.nav-area {
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.icon-span {
	display: table-cell;
	flex-wrap: nowrap;
	justify-content: space-between;
	vertical-align: middle;
	height: 50px!important;
}
.icon {
	order: 1;
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 40px!important;
	height: 40px!important;
}
.icon-li {
	padding: 5px 5px 5px 5px;
	width: auto;
}
.nav-list {
	order: 0;
	position: relative;
	display: inline-flex;
	width: auto;
	padding: 5px 15px 5px;
	padding: 2px;
	border-radius: 25px;
	border: 5px solid #4CAF50;
}
/*/ End Nav style /*/
.bkgrnd-tbannercontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 60px;
	margin-top: 0px;
}
.logo-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 80px;
	margin-top: 50px;
}
.logo-1 {
	order: 0;
	display: block;
	position: relative;
	width: 30%;
}
.bkgrnd-tbanner {
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
}
.bkgrnd-bbannercontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 0px!important;
	padding: 0px!important;
	bottom: 0;
	left: 0;
	width: auto;
}
.bkgrnd-bbanner {
	display: inline-flex;
	margin: 0px;
	padding: 0px;
}
/*/ Top Header Container /*/
.thh1-container {
	z-index: 9;
	position: absolute;
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.thh1-1 {
	display: inline-flex;
}
/*/End Top Header/*/
li.logo {
	margin-right: 10px;
}
.logo {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 2px 5px 2px;
	width: 14%;
	height: 14%;
	border-radius: 15px;
}
/*/ Start Pool Details Styling /*/
.pooldetails-h1container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 60px;
}
.pooldetails-h1 {
	position: relative;
	display: block;
	order: 0;
	width: auto;
	background-color: #2bb24c;
	padding: 15px;
	border-radius: 25px;
	border: 5px solid #4CAF50;
	
}
.pooldetails-h3container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: middle;
}
.pooldetails-h3 {
	position: relative;
	display: block;
	order: 0;
	width: auto;
}
.pooldetails-pcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: middle;
}
.pooldetails-p {
	position: relative;
	display: block;
	order: 0;
	width: 100%;
	padding: 25px;
	background-color: rgb(53, 138, 74);
	border-top: 15px solid #4CAF50;
	border-bottom: 15px solid #4CAF50;
}
.pool-project {
	color: blue;
}
/*/ End Pool Details /*/
/*/ Start About Us Styling /*/
.aboutus-h1container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: middle;
	margin-top: 60px;
}
.aboutus-h1 {
	position: relative;
	display: block;
	order: 2;
	width: auto;
	background-color: #2bb24c;
	padding: 15px;
	border-radius: 25px;
	border: 5px solid #4CAF50;
}
.aboutus-pcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: middle;
}
.aboutus-p {
	position: relative;
	display: block;
	order: 2;
	background-color: rgb(53, 138, 74);
	border-top: 15px solid #4CAF50;
	border-bottom: 15px solid #4CAF50;
	width: 100%;
	padding: 25px;
	margin-bottom: 0px;
}
/*/ End About Us Styling /*/
/*/ Start Metrics Styling /*/
.metric-columncontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: middle;
}
.metric-column1 {
	position: relative;
	order: 0;
	display: inline-flex;
	border-bottom: 15px solid #4CAF50;
	width: 48%;
	background: linear-gradient(45deg,
	rgba(53,148,77,0.9) 40%, 
	rgba(255,255,255,0.9) 90%);
}
.metric-column2 {
	position: relative;
	order: 0;
	display: inline-flex;
	border-bottom: 15px solid #4CAF50;
	width: 48%;
}
/*/ End Metrics Styling /*/
/*/ Footer Styling /*/

.subscribe-h1container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: middle;
	margin-top: 60px;
}
.subscribe-h1 {
	position: relative;
	display: block;
	order: 1;
	width: auto;
	background-color: #2bb24c;
	padding: 15px;
	border-radius: 25px;
	border: 5px solid #4CAF50;
}
.subscribe-formcontainer {
    margin-top: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: middle;
	background-color: #2bb24c;
}
.subscribe-form {
	position: relative;
	display: block;
	order: 2;
	width: auto;
	background-color: #2bb24c;
	padding: 15px;
	border-radius: 25px;
	border: 5px solid #4CAF50;
}
.filecredits {
	z-index: 9;
	font-size: 10px;
	font-style: italic;
	color: black;
}