html 
body { 
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	text-align: left;
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
}

.anchor {
	margin-top: 15px;
	margin-bottom: 25px;
}
.home-anchor {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
/*/ Begin Nav Style /*/
a {
	color: black;
	text-decoration: none;
}
ul.nav-area {
	padding-inline-start: 5px;
	padding-inline-end: 5px;
	margin-top: 5px;
	margin-bottom: 0!important;
}
nav {
	z-index: 9;
	position: -webkit-sticky; /*/ Fixed Safari /*/
    position: sticky;
    top: 0;
    left: 0;
	width: 100%;
	font-size: 20px;
	background-color: rgba(53, 148, 76, 0.63)
}

.logo-container {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}
.logo-1 {
	order: 0;
	display: block;
	position: relative;
	width: 30%;
}

/*/ Top Header Container /*/
.thh1-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.thh1-1 {
	display: block;
}
/*/End Top Header/*/
li.logo {
	margin-right: 10px;
}
.nav-buttons {
	padding: 5px 15px 5px;
	margin: 0px;
}
.logo {
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 2px 5px 2px;
	width: 14%;
	height: 14%;
	border-radius: 25px;
}
.nav-list {
	padding: 5px 15px 5px;
}
/*/Desktop Menu/*/
@media all and (min-width: 960px) {
.nav-area {
	list-style-type: none;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.logo {
	order: 1;
	position: relative;
	display: inline-block;
	overflow: hidden;

}
.nav-list {
	order: 0;
	position: relative;
	display: inline-flex;
	width: auto;
	background-color: rgb(53, 138, 74);
	border-radius: 25px;
	border: black;
	border-style: solid;
	border-width: 0.5px;
}
/*/ Grow /*/
.hvr-grow {
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.45s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
		
    background-color: #4CAF50;
}
/*End Nav style*/
/*Float Fix*/
.fix {
	clear: both;
}

.group:before,
.group:after {
	content: "";
	display: table;
}

.group:after {
	clear: both;
}

.group {

	zoom: 1;
}
/*/End Float Fix/*/
/*/Content Header/*/
.pool-project {
	color: blue;
}
.content-h2container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 75px;
	
}
.content-h2 {
	position: relative;
	display: block;
	order: 0;
	width: auto;
	background-color: rgb(53, 138, 74);
	border-radius: 25px;
	padding: 15px;
	
}
.content-h3container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.content-h3 {
	position: relative;
	display: block;
	order: 0;
	width: auto;
}

/*/ End Content Header /*/
/*/ About Us Styling  /*/
.content-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	
}
.content-p {
	position: relative;
	display: block;
	order: 0;
	width: auto;
	background-color: rgb(53, 138, 74);
	border-radius: 25px;
	padding: 15px;
	border-radius: 25px;
	border-width: 2px;
	border-style: solid;

}
.about-us{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 75px;
	margin-bottom: 0px;
}
.about-ush1 {
	position: relative;
	display: block;
	order: 0;
	width: auto;
	background-color: rgb(53, 138, 74);
	border-radius: 25px;
	padding: 15px;
}
.about-usp {
	position: relative;
	display: block;
	order: 1;
	width: auto;
	background-color: rgb(53, 138, 74);
	border-radius: 25px;
	padding: 15px;
	border-radius: 25px;
	border-width: 2px;
	border-style: solid;
}
.contact-us {
	display: flex;
	flex-direction: row;
	flex: wrap;
	justify-content: center;
	margin-top: 75px;
	margin-bottom: 0px;
}
.contact-ush1 {
	position: relative;
	display: block;
	order: 0;
	width: auto;
	background-color: rgb(53, 138, 74);
	border-radius: 25px;
	padding: 15px;
}
.contact-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: rgba(53, 148, 76, 0.63);
	padding: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;
	width: auto;
	overflow: hidden;
	
}
.formstyle {
	display: inline-block;
	border-radius: 25px;
	padding: 15px;
	order: 0;
}
.formstyle-textarea {
	display: inline-block;
	border-radius: 25px;
	padding: 15px;
	order: 1;
}
.filecredits {
	z-index: 9;
	color: black;
}
.extendfull, .extendleft
{
	padding-left: 3000px;
	margin-left: -3000px;
}

.extendfull, .extendright
{
	padding-right: 3000px;
	margin-right: -3000px;
}
.metric-columncontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-top: 100%;
	border-color: black;
	border-width: 5px;
	justify-content: space-evenly;
	margin: 5px;
	padding: 5px;
}
.metric-column1 {
	order: 0;
	display: inline-flex;
	border-radius: 25px;
	border-width: 2px;
	border-style: solid;
	margin: 0px;
	width: 49.39%;
}
.metric-column2 {
	order: 1;
	display: inline-flex;
	border-radius: 25px;
	border-width: 2px;
	border-style: solid;
	margin: 10px;
	width: 48%;
}